<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <!-- CSS -->
    <link rel="stylesheet" href="login.css" />


  </head>
  <body>
    <section class="container forms">
      <div class="form login">
        <div class="form-content">
          <header>Login</header>
          <form action="#">
            <div class="field input-field">
              <input type="email" placeholder="Email" class="input" />
            </div>

            <div class="field input-field">
              <input type="password" placeholder="Password" class="password" />
              <i class="bx bx-hide eye-icon"></i>
            </div>

            <div class="form-link">
              <a href="#" class="forgot-pass">Forgot password?</a>
            </div>

            <div class="field button-field">
              <button
                type="submit"
                class="submitButton"
                 onclick = "fetchFunction()"; return false;
              >
                Login
              </button>
            </div>
          </form>

          <!-- <div class="form-link">
            <span
              >Don't have an account?
              <a href="main.html" class="link signup-link">Sign up</a></span
            >
          </div> -->

          <div class="form-link">
            <span
              >Don't have an account?
              <a href="signup.html" class="link login-link">Sign up</a></span
            >
          </div>
        </div>

        <!-- <div class="line"></div>

        <div class="media-options">
          <a href="#" class="field facebook">
            <i class="bx bxl-facebook facebook-icon"></i>
            <span>Login with Facebook</span>
          </a>
        </div>

        <div class="media-options">
          <a href="#" class="field google">
            <img src="images/google.png" alt="" class="google-img" />
            <span>Login with Google</span>
          </a>
        </div> -->
      </div>

      <!-- Signup Form -->
<!-- 
      <div class="form signup">
        <div class="form-content">
          <header>Sign up</header>
          <form action="#">
            <div class="field input-field">
              <input type="email" placeholder="Email" class="input" />
            </div>

            <div class="field input-field">
              <input
                type="password"
                placeholder="Create password"
                class="password"
              />
            </div>

            <div class="field input-field">
              <input
                type="password"
                placeholder="Confirm password"
                class="password"
              />
              <i class="bx bx-hide eye-icon"></i>
            </div>

            <div class="field button-field">
              <button class="signupbutton" onclick="showAlert()">
                Sign up
              </button>
            </div>
          </form>

          <div class="form-link">
            <span
              >Already have an account?
              <a href="#" class="link login-link">Login</a></span
            >
          </div>
        </div>
       
      </div>
    </section> -->
    <!-- <div class="container">
        <div class="form signup">
            <div class="form-content">
           <header>Sign up</header>
          <div class="field email-field">
            <div class="field input-field">
              <input type="email" placeholder="Enter your email" class="email" />
            </div>
            <span class="error email-error">
              <i class="bx bx-error-circle error-icon"></i>
              <p class="error-text">Please enter a valid email</p>
            </span>
          </div>
          <div class="field input-field">
            <div class="input-field">
              <input
                type="password"
                placeholder="Create password"
                class="password"
              />
              <i class="bx bx-hide show-hide"></i>
            </div>
            <span class="error password-error">
              <i class="bx bx-error-circle error-icon"></i>
              <p class="error-text">
                Please enter atleast 8 charatcer with number, symbol, small and
                capital letter.
              </p>
            </span>
          </div>
          <div class="field input-field">
            <div class="input-field">
              <input
                type="password"
                placeholder="Confirm password"
                class="cPassword"
              />
              <i class="bx bx-hide show-hide"></i>
            </div>
            <span class="error cPassword-error">
              <i class="bx bx-error-circle error-icon"></i>
              <p class="error-text">Password don't match</p>
            </span>
          </div>
          <div class="field button-field">
            <input type="submit" value="Submit Now" />
          </div>
        </form>
      </div> -->
      <!-- <div class="container">
        <header>Signup</header>
        <form action="https://www.codinglabweb.com/">
          <div class="field email-field">
            <div class="input-field">
              <input type="email" placeholder="Enter your email" class="email" />
            </div>
            <span class="error email-error">
              <i class="bx bx-error-circle error-icon"></i>
              <p class="error-text">Please enter a valid email</p>
            </span>
          </div>
          <div class="field create-password">
            <div class="input-field">
              <input
                type="password"
                placeholder="Create password"
                class="password"
              />
              <i class="bx bx-hide show-hide"></i>
            </div>
            <span class="error password-error">
              <i class="bx bx-error-circle error-icon"></i>
              <p class="error-text">
                Please enter atleast 8 charatcer with number, symbol, small and
                capital letter.
              </p>
            </span>
          </div>
          <div class="field confirm-password">
            <div class="input-field">
              <input
                type="password"
                placeholder="Confirm password"
                class="cPassword"
              />
              <i class="bx bx-hide show-hide"></i>
            </div>
            <span class="error cPassword-error">
              <i class="bx bx-error-circle error-icon"></i>
              <p class="error-text">Password don't match</p>
            </span>
          </div>
          <div class="input-field button">
            <input type="submit" value="Submit Now" />
          </div>
        </form>
      </div> -->


    <!-- JavaScript -->
    <script src="../static/login.js"></script>
  </body>
</html>
